main {
    background-color: rgba(128, 128, 128, 0.062);
}

.card {
    width: 15rem;
    margin: 1rem;
    box-shadow: 2px 2px 12px 0px #88888842;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


nav {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-link {
    padding-left: 1em!important;
    padding-right: 1em!important;
    font-weight: bold;
}

.carousel-control-prev {
    color: black;
}

.btn {
    background-color: rgb(22, 170, 255);
}

span {
    text-decoration: line-through;
    color: gray;
    padding-right: 5px;
}

.dospuentes_texto {
    font-size: x-large;
    text-align: center;
}

.dospuentes_div {
    background-color: rgb(22, 170, 255);
    padding: 1rem;
    margin: 3rem;
}

.tienda-rapida {
    padding-top: 3em;
}

.logo {
    display: flex;
    margin: auto;
    width: 20em;
    padding-top: 4em;
    padding-bottom: 1rem;
}

.logo-navbar {
    width: 3em;
    display: flex;
    margin: auto;
}

.video {
    height: 30vw;
    margin-bottom: 3em;
}

.parrafos {
    font-size: 1.3rem;
    margin-left: 0!important;
    margin-right: 0!important;
}

.cards {
    margin-left: 0!important;
    margin-right: 0!important;
}

.pais {
    margin-top: 3em;
}

.oro {
    display: flex;
    margin: auto;
}

.copas {
    background-color: white;
    margin-bottom: 1rem;
}

.ver {
    margin-bottom: 4rem;
}

form {
    margin: 0 auto;
    width: 20rem;
    padding: 1rem;
    background-size: 150%;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    border: #213F48 3px solid;
    box-shadow: 0px 0px 8px 2px rgba(119, 119, 119, 0.144);
    margin-bottom: 2rem;
  }
  
  .control {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  
  .formulario {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  footer {
    height: 11rem;
    display: flex;
    color: rgb(46, 46, 46);
    font-size: 1.25rem;
    justify-content: center;
background-color: rgb(175, 175, 175);
  }
  
  .alumno {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .datos {

    margin-right: 1rem;
  }
  
  .redes {

    width: 5rem;
    color: white;
  }